<h1>Admin Dashboard</h1>
<p>See the relevent stock details below;</p>
<table class="table table-bordered">
      <thead>
        <tr>
          <th>Type</th>
          <th>Unit Count</th>
        </tr>
    </thead>
      <tbody>
        <tr>
          <td>Products; </td>
          <td><%= @product_count %></td>
        </tr>
        <tr>
          <td>Categories; </td>
          <td><%= @categories_count %></td>
        </tr>
      </tbody>
    </table>