<section class="about">

  <header class="page-header">
    <h1>About</h1>
  </header>
  <article>
    <p>A fine assortment of cool collectables for the discerning 21st century consumer. Spend your money and be the envy of people you barely know.</p>
    <br><p>Dont see what you want, feel free to contact us and we can arrange for it to be built at considerable expense.</p>
  </article>
<section/>

